<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
  <% users.forEach(function(user) { %>
    <li>
      <!-- ... -->
      <ul>
        <% user.Listings.forEach(function(listing) { %>
          <li>
            <%= listing.title %>
            <%= listing.description %>
          </li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>

<ul>
  <% users.forEach(function(user) { %>
    <li>
      <!-- ... -->
      <form action="/users/<%= user.id %>/listings" method="post">
        <fieldset>
          <legend>Create a new listing</legend>
          <label>
            Title:
            <input name="title" />
          </label>
          <label>
            Description:
            <input name="description" />
          </label>
          <input type="submit" value="Create listing" />
        </fieldset>
      </form>
      <!-- ... -->
    </li>
  <% }) %>
</ul>